<h1>Editing physician</h1>

<%= render "form", physician: @physician %>

<br>

<div>
  <%= link_to "Show this physician", @physician %> |
  <%= link_to "Back to physicians", physicians_path %>
</div>
