<div id="<%= dom_id appointment %>">
  <p>
    <strong>Appointment date:</strong>
    <%= appointment.appointment_date %>
  </p>

  <p>
    <strong>Physician:</strong>
    <%= appointment.physician_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= appointment.patient_id %>
  </p>

</div>
